<!-- 

<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div>
    <label for="">First Name</label>
    <input type="text" formControlName="fname" >
    <div *ngIf="(fname.invalid && (isSubmit || fname.touched ))"> Invalid </div>
  </div>

  <div>
    <label for="">Last Name</label>
    <input type="text" formControlName="lname" >
    <div *ngIf="(lname.invalid && (isSubmit || lname.touched ))"> Invalid </div>
  </div>

  <button type="submit">Submit</button>
</form> -->

<router-outlet></router-outlet>


